.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-div {
  background-color: #282c34;
  color: white;
  justify-content: center;
  display: flex;
  height: 70vh;
  overflow: auto;
}

.App-link {
  color: #cf9446;
}

.Boxx {
  max-width: max-content;
  align-content: center;
  justify-content: center;
}

.PriceBox {
  display: inline-block;
  border: 15px solid #a78559;
  margin: 20px;
  padding: 20px;
  font-size: 30px;
}

.ArbitrageBox {
  margin-top: 20px;
  padding: 40px -20px 40px -20px;
  font-size: 100px;
  align-content: center;
  min-width: max-content;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.Footer {
  height: 10vh;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: #282c34;
  overflow: auto;
}

a { 
  color: pink;
}

.inputTokenField {
  background-color: #34282f;
  color: #a78559;
  font-size: large;
  margin-left: 10px;
}

.RefreshButton {
  background-color: #34282f;
  color: #a78559;
  font-size: large;
  margin-left: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
